.object-rotation {
  -webkit-animation: spin 20s infinite linear;
  animation: spin 20s infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  to {
    -webkit-transform: rotate(345deg);
    transform: rotate(345deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  to {
    -webkit-transform: rotate(345deg);
    transform: rotate(345deg);
  }
}
